<ion-header>
  <ion-toolbar>
    <ion-title><b>Safety and hygiene</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title color="primary">
      A contactless experience
    </ion-card-title><br>
    <ion-card-subtitle>
      We are the same Gallery but with a reduced capacity, art routes to guide you, and a contactless experience.
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-card-title color="primary">
      Face coverings
    </ion-card-title><br>
    <ion-card-subtitle>
      Our staff will be wearing face coverings for their safety and the safety of our visitors, and we encourage you to do the same.
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-card-title color="primary">
      NHS Test and Trace
    </ion-card-title><br>
    <ion-card-subtitle>
      In line with government guidance, we encourage you to register your visit with NHS Test and Trace upon arrival by scanning the QR code or by giving your details to a member of staff.
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-card-title color="primary">
      Increased cleaning
    </ion-card-title><br>
    <ion-card-subtitle>
      The frequency of our cleaning throughout the Gallery has been increased, including toilets and other facilities.
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-card-title color="primary">
      Hand sanitiser stations
    </ion-card-title><br>
    <ion-card-subtitle>
      Hand sanitiser will be available, at regular intervals, for you to use.
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-card-title color="primary">
      If you're feeling unwell
    </ion-card-title><br>
    <ion-card-subtitle>
      If you or anyone you live with displays symptoms associated with COVID-19, please delay your visit until it is safe to do so.
    </ion-card-subtitle><br>
  </ion-card>

</ion-content>