<ion-header>
  <ion-toolbar>
    <ion-title><b>Visiting guidelines</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card><br>
    <ion-card-subtitle color="primary"><b>To help us keep the Gallery a safe and enjoyable place for everyone, please follow the
        guidelines below by:</b></ion-card-subtitle><br>
    <ul>
      <li size="large">Being considerate towards others</li><br>
      <li size="large">Not touching the paintings or other exhibits, and not crossing the barriers</li><br>
      <li size="large">Consuming food and drink in designated areas only i.e. not in rooms that contain paintings</li><br>
      <li size="large">Following our no smoking (includes vaping) policy in any part of the building</li><br>
      <li size="large">Following our ‘no photography’ policy in exhibitions where a sign is displayed</li><br>
      <li size="large">Sit only on the seating provided; our Gallery assistants can help you find the nearest seating</li>
    </ul>

  </ion-card>
</ion-content>