<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <b>Paintings</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" bgcolor="black">
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/starrynight.jpg"></ion-img>
      <ion-card-title color="primary"><b>The Starry Night</b></ion-card-title><br>
      <ion-card-subtitle>The Starry Night is an oil-on-canvas painting by the Dutch Post-Impressionist painter Vincent van Gogh. Painted in June 1889, it depicts the view from the east-facing window of his asylum room at Saint-Rémy-de-Provence, just before sunrise, with the addition of an imaginary village.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><br>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button size="small" color="primary">
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="light">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)=presentToast()>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="assets/thescream.jpg"></ion-img>
      <ion-card-title color="primary"><b>The Scream</b></ion-card-title><br>
      <ion-card-subtitle>The Scream is the popular name given to a composition created by Norwegian Expressionist artist Edvard Munch in 1893. The agonised face in the painting has become one of the most iconic images of art, seen as symbolising the anxiety of the human condition.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><br><br>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button size="small" color="primary">
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="light">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)=presentToast()>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="assets/theninthwave.jfif"></ion-img>
      <ion-card-title color="primary"><b>The Ninth Wave</b></ion-card-title><br>
      <ion-card-subtitle>The Ninth Wave is an 1850 painting by Russian-Armenian marine painter Ivan Aivazovsky. It is his best-known work. The title refers to an old sailing expression referring to a wave of incredible size that comes after a succession of incrementally larger waves.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><br>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button size="small" color="primary">
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="light">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)=presentToast()>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="assets/impressionsunrise.jfif"></ion-img>
      <ion-card-title color="primary"><b>Impression Sunrise</b></ion-card-title><br>
      <ion-card-subtitle>Impression, Sunrise is a painting by Claude Monet first shown at what would become known as the "Exhibition of the Impressionists" in Paris in April, 1874. The painting is credited with inspiring the name of the Impressionist movement. Impression, Sunrise depicts the port of Le Havre, Monet's hometown.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><br>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button size="small" color="primary">
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="light">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)=presentToast()>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="assets/monalisa.jpg"></ion-img>
      <ion-card-title color="primary"><b>Mona Lisa</b></ion-card-title><br>
      <ion-card-subtitle>The Mona Lisa is a half-length portrait painting by Italian artist Leonardo da Vinci. Considered an archetypal masterpiece of the Italian Renaissance, it has been described as "the best known, the most visited, the most written about, the most sung about, the most parodied work of art in the world".</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><br>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button size="small" color="primary">
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="light">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)=presentToast()>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="assets/thenightwatch.jpg"></ion-img>
      <ion-card-title color="primary"><b>The Night Watch</b></ion-card-title><br>
      <ion-card-subtitle>Militia Company of District II under the Command of Captain Frans Banninck Cocq, also known as The Shooting Company of Frans Banning Cocq and Willem van Ruytenburch, but commonly referred to as The Night Watch, is a 1642 painting by Rembrandt van Rijn.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><br>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button size="small" color="primary">
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="light">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)=presentToast()>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="assets/thesleepinggypsy.jfif"></ion-img>
      <ion-card-title color="primary"><b>The Sleeping Gypsy</b></ion-card-title><br>
      <ion-card-subtitle>The Sleeping Gypsy is an 1897 oil painting by French Naïve artist Henri Rousseau. It is a fantastical depiction of a lion musing over a sleeping woman on a moonlit night. Rousseau first exhibited the painting at the 13th Salon des Indépendants, and tried unsuccessfully to sell it to the mayor of his hometown, Laval.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><br>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button size="small" color="primary">
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="light">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)=presentToast()>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="assets/thetowerofbabel.jfif"></ion-img>
      <ion-card-title color="primary"><b>The Tower Of Babel</b></ion-card-title><br>
      <ion-card-subtitle>The Tower of Babel narrative in Genesis 11:1–9 is an origin myth meant to explain why the world's peoples speak different languages. According to the story, a united human race in the generations following the Great Flood, speaking a single language and migrating eastward, comes to the land of Shinar.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><br>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button size="small" color="primary">
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="light">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)=presentToast()>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="assets/thelastsupper.jpg"></ion-img>
      <ion-card-title color="primary"><b>The Last Supper</b></ion-card-title><br>
      <ion-card-subtitle>The Last Supper is a late 15th-century mural painting by Italian artist Leonardo da Vinci housed by the refectory of the Convent of Santa Maria delle Grazie in Milan, Italy. It is one of the Western world's most recognizable paintings.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content><br>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button size="small" color="primary">
          <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="light">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)=presentToast()>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>

</ion-content>
