<ion-header>
  <ion-toolbar>
    <ion-title><b>Book tickets</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Date :</ion-label>
    <ion-datetime value="2021-10-19" placeholder="Select Date"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Time :</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Ticket type :</ion-label>
    <ion-select>
      <ion-select-option>Entry Tickets</ion-select-option>
      <ion-select-option>Exibition Tickets</ion-select-option>
      <ion-select-option>Event Tickets</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Tickets :</ion-label>
    <ion-range pin="true" min="0" max="5" color="secondary" snaps="true" ticks="true"></ion-range>
  </ion-item><br>
  <center>
    <ion-button (click)="presentToast()">Book</ion-button>
  </center>
</ion-content>