<ion-header>
  <ion-toolbar>
    <ion-title><b>Facilities and amenities</b>></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title color="primary">
      Access
    </ion-card-title><br>
    <ion-card-subtitle>
      We aim to make access to the paintings enjoyable and welcoming to the widest possible public.
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-card-title color="primary">
      Cloakrooms
    </ion-card-title><br>
    <ion-card-subtitle>
      Cloakrooms cost £2 per item to use (free for Members). We accept bags up to 56 x 25 x 45 cm. You are welcome to bring baby buggies into the Gallery.
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-card-title color="primary">
      Restrooms
    </ion-card-title><br>
    <ion-card-subtitle>
      There are restrooms and baby changing facilities at the entrance and exit, and also in the Education Centre
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-card-title color="primary">
      Explore the collection
    </ion-card-title><br>
    <ion-card-subtitle>
      Explore the nation's collection before you visit through our app for information on the go.
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-card-title color="primary">
      WiFi
    </ion-card-title><br>
    <ion-card-subtitle>
      Connect to our free WiFi - look for ‘National Gallery’.
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-card-title color="primary">
      Photography
    </ion-card-title><br>
    <ion-card-subtitle>
      Feel free to take photographs for personal, non-commercial use, unless a sign says you shouldn't.
    </ion-card-subtitle><br>
  </ion-card>
</ion-content>
