<ion-header>
  <ion-toolbar>
    <ion-title><b>Shopping and eating</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="assets/shop.jpg"></ion-img><br>
    <ion-card-title color="primary">
      Shopping
    </ion-card-title><br>
    <ion-card-subtitle>
      From prints to postcards and cushions to the Companion Guide, complete your Gallery experience with a visit to one of our gift shops, at the start and end of your visit.
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-img src="assets/eat.jpg"></ion-img><br>
    <ion-card-title color="primary">
      Eating and drinking
    </ion-card-title><br>
    <ion-card-subtitle>
      Delicious food and drink is available from the Espresso Bar and the National Café
    </ion-card-subtitle><br>
  </ion-card>

  <ion-card>
    <ion-img src="assets/shop_online.jpg"></ion-img><br>
    <ion-card-title color="primary">
      Shop online
    </ion-card-title><br>
    <ion-card-subtitle>
      Shop online for Gallery gifts and art books and have them delivered straight to your home or click and collect when you visit.
    </ion-card-subtitle><br>
  </ion-card>

</ion-content>
